h5
{  color : green;
}
.speech{ 
    color: black;
}
.SHE{
    
    font-style: bold;
    color: aqua;
}
.HE{
    font-style: bold;
    color: blueviolet;
}
table{
    height: 100px;
    width: 50%;
    color: chartreuse;
    border: solid;
    border-style: dashed;
    border-collapse: separate;
    padding: 10px;
    margin: 100px 13em 15pt 10%
}
td, th {border: solid 1px ;
    text-align: center;
color: blue;}
    tr:nth-child(even) 
    {background-color: coral;}