h5
{  color : green;
}
.speech{ 
    color: black;
}
.direction{
    background-color: lightpink;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: crimson;
}
.direction:hover{
    background-color: lightsalmon;
    color:black;

}
.SHE{
    
    font-style: bold;
    color: aqua;
}
.HE{
    font-style: bold;
    color: blueviolet;
}
table{
    height: 100px;
    width: 50%;
    color: chartreuse;
    border: solid;
    border-style: dashed;
    border-collapse: separate;
    padding: 10px;
    margin: 100px 13em 15pt 10%
}
td, th {border: solid 1px ;
    text-align: center;
color: blue;}
    tr:nth-child(even) 
    {background-color: coral;}
h5:hover{
    background-color: cornflowerblue;
    border:solid 3px;
    box-shadow: burlywood;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:cornflowerblue;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:cornflowerblue;
  }
  
  .active {
    background-color:cornflowerblue;
  }